<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
      
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="active" >
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link"[routerLink]="['/admin/campaigns']"  routerLinkActive="active" >
            <i class="material-icons">folder</i>
            <p>Campaigns</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/admin/creatives']" routerLinkActive="active" >
            <i class="material-icons">assistant_pho</i>
            <p>Creatives</p>
          </a>
        </li>        
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/admin/users']"  routerLinkActive="active" >
            <i class="material-icons">person</i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/admin/reports']"  routerLinkActive="active" >
            <i class="material-icons">assessment</i>
            <p>Reports</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/admin/map']"  routerLinkActive="active" >
            <i class="material-icons">location_ons</i>
            <p>Maps</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/admin/notifications']"  routerLinkActive="active" >
            <i class="material-icons">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/admin/settings']"  routerLinkActive="active" >
            <i class="material-icons">settings</i>
            <p>Settings</p>
          </a>
        </li>
        <!-- <li class="nav-item " >
          <a class="nav-link" [routerLink]="['/user/rtl']" routerLinkActive="active" >
            <i class="material-icons">language</i>
            <p>RTL Support</p>
          </a>
        </li> -->
        <!-- <li class="nav-item active-pro " hidden>
          <a class="nav-link" [routerLink]="['/user/']"  routerLinkActive="active" >
            <i class="material-icons">unarchive</i>
            <p>Upgrade to PRO</p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>